# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Jupyter / Colab
.ipynb_checkpoints/

# Secrets (INI WAJIB)
.env
*.json
token.py

# Model files (kalau besar)
*.h5
*.pt
*.bin

# OS
.DS_Store

# Model outputs
*.pt

# (opsional tapi umum di PyTorch)
*.pth

# Folder output (lebih rapi daripada ignore per ekstensi)
outputs/
models/
checkpoints/
